
.confirmation チャットグループが作成されました

= render 'shared/left-content'

.right-content
  .header-box
    .header-box__right
      = link_to "Edit", edit_group_path(2)
    .header-box__left__group-name sampleグループ
    .header-box__left__members member:okuna,yamada

  .message-box
    .message-box__name okuna
    .message-box__time 2019/02/07(Thu) 17:39:09
    .message-box__comment Hello.

  .footer
    %form
      %input-box
        %input{type:'text',placeholder:'type a message'}
        %label
          = fa_icon("photo")
          %input{type:'file'}
      %input{type:'submit',class:'send-button',value:'Send'}

