.left-content{

  width: 300px;
  height: 100vh;
  float: left;

    .user-box{
      background-color: #253141;
      font-size: 16px;
      font-weight: bold;
      color:#FFFFFF;
      height: 100px;
      line-height: 100px;
      padding:24px 20px 0px 20px;
        p{
          float:left;
        }
        i{
          float:right;
          display:inline-block;
          line-height: 100px;
          margin-left:20px;
          color:white;
        }
      }
    .group-box{
      background-color: #2f3e51;
      height: calc(100% - 96px);


      &__group-name{
        padding:20px 20px 0px 20px;
        font-size: 15px;
        color: #FFFFFF;
        text-decoration: none;
        }
      &__group-message{
        padding: 5px 20px 20px 20px;
        font-size: 11px;
        color: #FFFFFF;
        text-decoration: none;
        }
    }
}
